.title {
  display: block;
  text-align: center;
}

#text-description, #search {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

#searched {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.form-inline {
  margin: 0 5px;
}

.form-control {
  /* display: inline; */
  border: 0;
  border-radius: 0;
  vertical-align: middle;
  height: 1.5em;
  padding: 0 30px 0 5px;
  outline: none;
  font-weight: 600;
  background-color: rgba(217, 217, 217, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.15em;
  transition: all .4s ease-in-out;
}

.form-control:hover{
  cursor: pointer;
  /* color: red; */
}

.form-inline {
  border-bottom: 1px solid black;
}

.search-icon {
  position: absolute;
  /* padding: 10px; */
  /* font-weight: 400; */
  margin-left: -45px;
  margin-top: 10px;
  min-width: 50px;
  text-align: center;
  font-size: 20px;
  opacity: 0.8;
}

.searched-term, #search-box {
  border: 1.5px solid;
  border-radius: 5px;
  margin: 2px;
  padding: 4px 8px;
}

/* #search-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
} */

.delete-term {
  cursor: pointer;
  padding-left: 10px;
}



/* option {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  display: inline;
  border: 0;
  width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid lightgray;
  color: red;
  transition: all .4s ease-in-out;
}

select:hover {
  cursor: pointer;
} */

.form-control option {
  border: 0;
  /* border-bottom: 1px solid lightgray; */
  /* padding: 10px; */
  -webkit-appearance: none;
  -moz-appearance: none;
}
